.menu {
    width: 25rem;
    position: sticky;
    top: 2rem;
    height: fit-content;
}

.allList {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
}

.menuList {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.inactive:hover {
    color: var(--primary-color);
}

.active {
    background-color: var(--menu-selected);
    border-radius: var(--border-radius);
    color: var(--primary-color);
}

.centerText {
    text-align: center;
}

.appName {
    font-weight: bold;
    font-size: 4rem;
}

@media screen and (min-width:760px) {
    .newPostSmallScreen {
        display: none;
    }
}

@media screen and (max-width:760px) {

    .appName,
    .sideBarName,
    .newPostBtn {
        display: none;
    }

    .allList {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        background-color: white;
        padding: 1rem;
    }

    .menu {
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 2;
        right: 0;
        left: 0;
        top: unset;
        background-color: red;
    }
}